/*---------------------
    Navbar Section
-------------------- */
.navbar a {
    color: black;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bold;
}

.navbar .logo{
    max-width: 150px;
}

/*---------------------
    Hero Section
-------------------- */
.hero {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero-title {
    font-weight: bold;
    font-size: 7rem;
}

.hero .hero-title span {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .hero .hero-title {
      font-size: 3rem;
      letter-spacing: -2px;
    }
}

@media (max-height: 500px) {
    .hero {
      height: 120vh;
    }
}

/*---------------------
    LastProject Section
-------------------- */
.lastproject .media-container {
    overflow: hidden;
    height: 700px;
    width: 100%;
    margin-bottom: 30px;
}

.lastproject .media-container video{
    width: auto;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
}

/*---------------------
    Products Section
-------------------- */
.products .media-container {
    margin: 30px;
}

.products .media-container img {
    width: 100%;
}

/*---------------------
    Clients Section
-------------------- */
.clients {
    margin-top: 300px;
    margin-bottom: 300px;
}