/* Global Colors */
:root {
    --background-color: #ffffff;
    --background-color-rgb: 255, 255, 255;
    --default-color: #99ddff;
    --default-color-rgb: 153, 221, 255;
    --accent-color: #247bd3;
    --accent-color-rgb: 36, 123, 211;
    --heading-color: #black;
    --heading-color-rgb: 0, 0, 0;
    --contrast-color: #ffffff;
    --contrast-color-rgb: 255, 255, 255;
  }

/*---------------------
    Navbar Section
-------------------- */
.navbar {
    padding-right: 20px;
    padding-left: 20px;
}
.navbar a {
    color: black;
    text-decoration: none;
    font-size: xx-large;
    font-weight: bold;
}

.navbar .logo{
    max-width: 150px;
}

@media (max-width: 768px) {
    .navbar {
        padding-right: 10px;
        padding-left: 10px;
    }

    .navbar .logo{
        max-width: 80px;
    }

    .navbar a {
      font-size: 1.5rem;
    }
}

/*---------------------
    Hero Section
-------------------- */
.hero {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

.hero .hero-title {
    font-weight: bold;
    font-size: 5rem;
}

.hero .hero-title span {
    text-decoration: underline;
}

.scroll-animation {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 50px;
}

.indicator-text {
    color: var(--accent-color);
    margin-bottom: 0;
}

.indicator {
    width: 30px; 
    height: 45px;
    border: 2px solid var(--accent-color);
    border-radius: 50px; 
    position: absolute;
    bottom: 80px;
    left: 49.5%;
}

.indicator:before {
    content: ""; 
    position: absolute;
    width: 20px; 
    height: 20px;
    background: var(--accent-color); 
    margin: auto;
    left: 0; 
    right: 0;
    border-radius: 50%;
    animation: animate 1s linear infinite; 
}

@keyframes animate {
    0% {
        opacity: 1; top: 0px;
    }
    100% {
        opacity: 0; top: 45px;
        transform: scale(0.8);
    }
}

@media (max-width: 768px) {
    .hero .hero-title {
      font-size: 2rem;
      letter-spacing: -2px;
    }

    .hero .title-container {
        text-align: center;
    }

    .hero .img-container {
        display: none;
    }

    .indicator {
        bottom: 120px;
    }

    .indicator-text {
        display: none;
    }

    body {
        box-shadow: inset 0 0 0 1000px rgba(255,255,255,.8);
        background-image: url('../img/blockchain.png');
        background-position: 0px 200px;
        background-repeat: repeat-x;
    }


}


@media (max-height: 500px) {
    .hero {
      height: 120vh;
    }
}

/*---------------------
    LastProject Section
-------------------- */
.lastproject .media-container {
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.lastproject .media-container .twitter-tweet{
    border-radius: 50px;
}

/* About Section - Home Page
------------------------------*/
.blockchain-projects {
    --background-color: #f4f4f4;
    padding-bottom: 80px;
    }

    .blockchain-projects .content h3 {
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    padding: 10px 20px;
    background: rgba(var(--accent-color-rgb), 0.05);
    color: var(--accent-color);
    border-radius: 7px;
    display: inline-block;
    }

    .blockchain-projects .content h2 {
    font-weight: 700;
    }

    .blockchain-projects .content p:last-child {
    margin-bottom: 0;
    }

    .blockchain-projects .content .read-more {
    background: var(--accent-color);
    color: var(--contrast-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 24px;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    }

    .blockchain-projects .content .read-more i {
    font-size: 18px;
    margin-left: 5px;
    line-height: 0;
    transition: 0.3s;
    }

    .blockchain-projects .content .read-more:hover {
    background: rgba(var(--accent-color-rgb), 0.8);
    padding-right: 19px;
    }

    .blockchain-projects .content .read-more:hover i {
    margin-left: 10px;
    }

    .blockchain-projects .portfolio-item {
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    }

    .blockchain-projects .portfolio-item .portfolio-info {
        opacity: 0;
        position: absolute;
        left: 12px;
        right: 12px;
        bottom: -100%;
        z-index: 3;
        transition: all ease-in-out 0.5s;
        background: rgba(var(--background-color-rgb), 0.9);
        padding: 15px;
      }
      
      .blockchain-projects .portfolio-item .portfolio-info h4 {
        font-size: 18px;
        font-weight: 600;
        padding-right: 50px;
      }
      
      .blockchain-projects .portfolio-item .portfolio-info p {
        color: rgba(var(--accent-color-rgb), 0.7);
        font-size: 14px;
        margin-bottom: 0;
        padding-right: 50px;
      }
      
      .blockchain-projects .portfolio-item .portfolio-info .preview-link,
      .blockchain-projects .portfolio-item .portfolio-info .details-link {
        position: absolute;
        right: 50px;
        font-size: 24px;
        top: calc(50% - 14px);
        color: rgba(var(--accent-color-rgb), 0.7);
        transition: 0.3s;
        line-height: 0;
      }
      
      .blockchain-projects .portfolio-item .portfolio-info .preview-link:hover,
      .blockchain-projects .portfolio-item .portfolio-info .details-link:hover {
        color: var(--defatul-color);
      }
      
      .blockchain-projects .portfolio-item .portfolio-info .details-link {
        right: 14px;
        font-size: 28px;
      }
      
      .blockchain-projects .portfolio-item:hover .portfolio-info {
        opacity: 1;
        bottom: 0;
      }

/*---------------------
    Projects Section
-------------------- */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects .projects-card {
    border-radius: 30px;
    background-color: #e6f7ff;
    padding: 40px;
    margin-bottom: 100px;
}

.projects .project {
    width: 100%;
    margin-bottom: 40px;
}

.projects .project-content{
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-color: var(--accent-color);
    color: white;
    border-radius: 15px;
    padding: 30px;
    max-width: 100%;
    margin: auto;
}

.projects .project-icon {
    max-width: 150px;
    height: auto;
    margin-right: 30px;
    border-color: #fff;
}

.projects .col1, .projects .col2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.projects .project-title{
    font-size: 1.4rem;
    font-weight: 500;
}

.projects .project-description{
    font-weight: 300;
}

@media (min-width: 56.25rem) {
    .projects .col-sm-auto {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .projects .project-content {
        text-align: center;
    }

    .projects .project-content .col-sm-auto:not(:last-child) {
        margin-bottom: 30px;
    }

    .projects .btn {
        margin: 0 5px 10px;
    }

    .projects .project-icon {
        margin-right: 0;
    }
}

/*---------------------
Highlight Section
-------------------- */

.highlight {
    padding: 100px 0;
    background-color: #e6f7ff;
    border-radius: 50px 50px 0px 0px;
}

/*---------------------
    About Section
-------------------- */

.about {
    margin-top: -30px;
    height: 100vh;
    padding-top: 200px;
    padding-bottom: 300px;
    background-color: var(--accent-color);
    color: white;
    border-radius: 50px 50px 0px 0px;
}

.about .circular-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 40px;
    filter: drop-shadow(16px 16px 20px black)
}

.about img {
    width: 100%;
}

@media (max-width: 768px) {
    .about {
        height: 110vh;
        padding-top: 100px;
    }
}

/*---------------------
    Contact Section
-------------------- */
.contact .socials {
    text-align: right;    
}

@media (max-width: 768px) {
    .contact, .contact .socials {
        text-align: center;
    }
}

/*---------------------
    Footer Section
-------------------- */
.footer {
    margin-bottom: 30px;
    text-align: center;
    font-size: smaller;
}